* {
    font-family: "Roboto", serif;
    font-style: normal;
}

.footer {
    padding: 15px;
    margin: 20px;
    background: rgba(99, 105, 110, 0.48);

}

.footer__navbar {
}

.footer__list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer__item {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 24px;

}

.footer__link {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #0c1927;
    cursor: pointer;
    text-decoration: none;
}

.footer__link:hover {
    color: #3181A6;
}